html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.top {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}
.site {
  color: white;
  font-size: 18px;
}
a {
  color: white;
}

h3 {
  font-size: 32px
  font-weight: bold;
}
.secondary {
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}
#bkgimage {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}
.bottom {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}
