html {
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.top {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h3 {
  font-size: 32px
  font-weight: bold;
}
.secondary {
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}
